html, body {
    padding: 0;
    margin: 0;
    font-family: Ubuntu, Arial;
}

@media only screen and (min-width:1366px){
    body { font-size: 18px; }
}

@media only screen and (min-width:1024px) and (max-width:1365px){
    body { font-size: 16px; }
}

@media only screen and (min-width:768px) and (max-width:1023px){
    body { font-size: 14px; }
}

@media only screen and (max-width:767px){
    body { font-size: 12px; }
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.brd { border: 1px solid #333; border-radius: 5px; }

.wrapper { width: 80%; padding: 0; margin: 0 10%; }

.game-mode-title {
    color: #fff;
    font-size: 2em;
}

.game-mode-desc {
    font-size: 1em;
    padding: 1% 0;
    color: #fff;
}

.game-mode-icon {
    width: 100%;
    max-width: 256px;
    min-width: 96px;
}

.column {
    margin: 1%;
}

.central {
    background: #ecf0f1;
}

.side {
    background: #C2E0F4;
}

.current-lap {
    width: 80%;
    text-align: center;
    margin: 2% auto;
}

.lap-indicator {
    position: relative;
    margin-top: 2%;
    width: 100%;
    height: 24px;
    background: #c90000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #c90000, #007000); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #c90000, #007000); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #c90000, #007000); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #c90000, #007000); /* Standard syntax */
}

.lap-progress {
    background: #ecf0f1;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 22px;
    border: none;
}

.blockquote {
font-style: italic;
margin: 1.5em 0;
padding: 0.5em 0;
}
.blockquote:before {
color: #bbb;
content: "\201C"; /* Непечатаемый символ слева */
font-size: 3em;
line-height: 0.1em;
margin-right: 0.2em;
vertical-align: -.4em;
}
.blockquote:after {
color: #bbb;
content: "\201D"; /* Непечатаемый символ справа */
font-size: 3em;
line-height: 0.1em;
vertical-align: -.45em;
}
.blockquote > p:first-child {
display: inline;
}